footer.bg-dark.text-white.pt-3.pr-3.pb-3.pl-3.mt-3
  .container
    .row.links-horizontal
      .col-sm-5
        include address
      .col-sm-2.d-print-none
        p.mt-3.mt-md-0=global.__("Corporate")
        include menu-corporate
      .col-sm-5.d-print-none
        p.mt-3.mt-md-0=global.__("Social Networks")
        include socials
      //.col-sm-5.d-print-none
        p.mt-3.mt-md-0=global.__("Projects")
        include ../../_partials/components/projects
    br
    include ../../_partials/components/copy-and-flyer
