footer.bg-dark.text-white.pt-3.pr-3.pb-3.pl-3.mt-3
  .row.links-horizontal
    .col-sm-3
      include address
    .col-sm-2.d-print-none
      p Corporate
      include menu-corporate
    .col-sm-2.d-print-none
      p=global.__("Social Networks")
      include socials
    .col-sm-5.d-print-none
      p=global.__("Projects")
      include ../../_common/inc_projects
  br
  include ../../_common/inc_copy-and-flyer
