ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flyernewmedia/', title='Flyer new media on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.linkedin.com/company/flyer-communication/', title='Flyer new media on Linkedin')
      i.icon-linkedin-squared
      .sr-only Linkedin
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flxer_av/', title='Flyer new media on Instagram')
      i.icon-instagram
      .sr-only Instagram
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.tiktok.com/@flxer_av', title='Flyer new media on Tik Tok')
      i.icon-tiktok
      .sr-only Tik Tok
