li.nav-item(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
  a.nav-link(itemprop='url', href=basepath+performance.slug+'/', title=performance.title)
    span.backText=performance.title
