.boxItem(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
  meta(itemprop="position", content=position+1)
  .Person(itemprop="item", itemscope, itemtype="http://schema.org/Person")
    .thumb-cnt(itemprop='image', itemscope, itemtype="http://schema.org/ImageObject")

      a.ajaxloader(href='/members/'+result.slug+"/", rel='bookmark', title!=result.stagename, itemprop='url')
        img.img-fluid(src=result.imageFormats.small, alt!=global.__('Image for')+': '+result.stagename, itemprop='contentUrl')
        meta(itemprop="width" content="480")
        meta(itemprop="height" content="270")

    .box-list
      .box-list-cnt
        h3.list_title
          a.ajaxloader(itemprop='url', href='/members/'+result.slug+"/", rel='bookmark', title=result.stagename)!=result.stagename
