html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image.prod.js')
    script(src='https://aframe.io/releases/1.2.0/aframe.min.js')
    script(src='https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js')
    script(src='https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.1.5/dist/mindar-image-aframe.prod.js')
  body
    a-scene(mindar-image='imageTargetSrc: ' + config.prefix+'/ar/2022/LCF2022-promo-1.mind;' color-space='sRGB' renderer='colorManagement: true, physicallyCorrectLights' vr-mode-ui='enabled: false' device-orientation-permission-ui='enabled: false')
      a-assets
        video#bearModel(src=)
      a-camera(position='0 0 0' look-controls='enabled: false')
      a-entity(mindar-image-target='targetIndex: 1')
        a-gltf-model(rotation='0 0 0 ' position='0 -0.25 0' scale='0.05 0.05 0.05' src='#bearModel' animation-mixer='')
doctype html
html
  head
    script(src='https://aframe.io/releases/1.0.4/aframe.min.js')
    script(src='https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js')
    script(src='https://raw.githack.com/AR-js-org/studio-backend/master/src/modules/marker/tools/gesture-detector.js')
    script(src='https://raw.githack.com/AR-js-org/studio-backend/master/src/modules/marker/tools/gesture-handler.js')
    script.
      AFRAME.registerComponent('videohandler', {
      init: function () {
      var marker = this.el;
      this.vid = document.querySelector("#vid");
      marker.addEventListener('markerFound', function () {
      this.toggle = true;
      this.vid.play();
      }.bind(this));
      marker.addEventListener('markerLost', function () {
      this.toggle = false;
      this.vid.pause();
      }.bind(this));
      },
      });
  body(style='margin: 0; overflow: hidden;')
    a-scene#scene(vr-mode-ui='enabled: false' loading-screen='enabled: false;' arjs='sourceType: webcam; debugUIEnabled: false;' embedded='' gesture-detector='')
      a-assets
        video#vid(src=config.prefix+'/ar/2022/LCF2022-promo-1.mind.mp4' preload='auto' response-type='arraybuffer' loop='' crossorigin='' webkit-playsinline='' autoplay='' muted='' playsinline='')
      a-marker#markerA(type='pattern' preset='custom' url=config.prefix+'/ar/2022/LCF2022-promo-1.patt' videohandler='' smooth='true' smoothcount='10' smoothtolerance='0.01' smooththreshold='5' raycaster='objects: .clickable' emitevents='true' cursor='fuse: false; rayOrigin: mouse;')
        a-video.clickable(src='#vid' scale='1 1 1' position='0 0.1 0' rotation='-90 0 0' gesture-handler='')
      a-entity(camera='')
