extends layout
block content
  //-#mycarousel.carousel.slide(data-ride='carousel')
      //Indicators
      //<ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
        <li data-target="#mycarousel" data-slide-to="5"></li>
        <li data-target="#mycarousel" data-slide-to="6"></li>
        <li data-target="#mycarousel" data-slide-to="7"></li>
        <li data-target="#mycarousel" data-slide-to="8"></li>
        <li data-target="#mycarousel" data-slide-to="9"></li>
        <li data-target="#mycarousel" data-slide-to="10"></li>
        </ol>
      // Wrapper for slides
      .carousel-inner
        .carousel-item.active
          img.img-fluid(src='/fotonica/images/main-img2021.jpg', alt='Fotonica 2021')
        //.carousel-item
          img.img-fluid(src='/fotonica/images/carusel_img_2017/chromosphere_slide-02.jpg', alt='Fotonica 2021')
          .carousel-item
            img.img-fluid(src='/fotonica/images/carusel_img_2017/chromosphere_slide-03.jpg', alt='Fotonica 2021')
          .carousel-item
            img.img-fluid(src='/fotonica/images/carusel_img_2017/chromosphere_slide-04.jpg', alt='Fotonica 2021')
          .carousel-item
            img.img-fluid(src='/fotonica/images/carusel_img_2017/chromosphere_slide-05.jpg', alt='Fotonica 2021')
          .carousel-item
            img.img-fluid(src='/fotonica/images/carusel_img_2017/chromosphere_slide-06.jpg', alt='Fotonica 2021')
      // Controls
      a.carousel-control-prev(href='#mycarousel', role='button', data-slide='prev', title=global.__("Previous slide"))
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#mycarousel', role='button', data-slide='next', title=global.__("Nexts slide"))
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
  .embed-responsive.embed-responsive-16by9(style="margin-top:65px")
    iframe.embed-responsive-item(title="avnode-player" src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ffotonicafestival%2Fvideos%2F162656033567982%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"  width="1920" height="1080" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" autoplay="true")
    //iframe.embed-responsive-item(src="https://www.facebook.com/plugins/video.php?height=1080&href=https%3A%2F%2Fwww.facebook.com%2Ffotonicafestival%2Fvideos%2F812473783285537%2F&show_text=false&width=1920&t=0" width="1920" height="1080" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" autoplay="true")
  //-.container-fluid
    .embed-responsive.embed-responsive-16by9
      iframe(height="378" width="620" src="https://player.twitch.tv/?channel=vjtelevision&parent=fotonicafestival.com" frameborder="0" allowfullscreen="true" scrolling="no")
    .row
      .col-lg-9.p-md-0
        .embed-responsive.embed-responsive-16by9
          iframe(height="378" width="620" src="https://player.twitch.tv/?channel=vjtelevision&parent=fotonicafestival.com" frameborder="0" allowfullscreen="true" scrolling="no")
      .col-lg-3.p-md-0
        .chat(style="height: 100%;width: 100%;min-height: 300px;")
          iframe(style="height: 100%;width: 100%;" id="chat_embed" src="https://www.twitch.tv/embed/vjtelevision/chat?parent=fotonicafestival.com" height="500" width="350" frameborder="0" scrolling="no")
      
  section.home.mt-3(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") News
    .swiper-container
      !=results.news.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/news/", title="See all News") See all News
        
  section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Satellite Events
    .swiper-container
      !=results.events.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/partnerships/", title="See all Events") See all Events

  section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Productions
    .swiper-container
      !=results.editions.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/events/", title="See all Editions") See all Productions
