extends layout
block content
  article(itemscope, itemtype='http://schema.org/ItemList')
    .container
      header.post_title
        h1(itemprop='name')!="Membri"
    .bg-light.pt-3
      .container
        .row
          each item in result.avnode.members
            .col-md-3
              include ../_partials/boxes/box_member_item

