footer.bg-dark.text-white.pt-3.pr-3.pb-3.pl-3.mt-3
  .row.links-horizontal
    .col-md-auto
      include ../../_partials/components/address_gianluca
    .col-md-auto.d-print-none
      p.mb-1.mt-3.mt-md-0=global.__("Corporate")
      include menu-corporate
    .col-md-auto.d-print-none
      p.mb-1.mt-3.mt-md-0=global.__("Social Networks")
      include socials
    .col-md-auto.d-print-none
      p.mb-1.mt-3.mt-md-0=global.__("Projects")
      include ../../_partials/components/projects
  br
  include ../../_partials/components/copy-and-flyer
