ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://avnode.net/gianlucadelgobbo/', title='Gianluca Del Gobbo on AVnode')
      i.icon-avnode
      .sr-only AVnode
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/gianlucadelgobbo/', title='Gianluca Del Gobbo on Facebook')
      i.icon-facebook-official
      .sr-only Facebook
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://instagram.com/gianlucadelgobbo', title='Gianluca Del Gobbo on Instagram')
      i.icon-instagram
      .sr-only Instagram
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.linkedin.com/in/gianlucadelgobbo/', title='Gianluca Del Gobbo on Linkedin')
      i.icon-linkedin
      .sr-only Linkedin
