body {background-color:#000; background-repeat:no-repeat; background-position: center 195px;}
.entry-title, .grid-title{color:#FFF; background-color:#4f3556;padding:5px 10px;}
.rientro{background: rgba(255,255,255,.8);padding:15px;}
.performers_event_wrapper h3{background: rgba(255,255,255,.8);padding:15px;}
.nav-item.disabled {display: none;}
.media.media-author img {
  min-width: 100px;
}


