extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/'+itemtype)
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')!=result.post_title
          .rientro
            div(itemprop='description')!=result.post_content
            .text-muted
              .dates
                //.date=result.data_evento
                meta(itemprop="dateModified", content=result.dateModified)
            .mb-5
              include ../_partials/inc_share
        .col-sm-3
          img.img-fluid.main-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')
      .container-fluid.sameheightcnt
        .row.mb-5
          .col-md-4.sameheight
            !=result['wpcf-row-1-col-1-html-box']
          .col-md-4.sameheight
            !=result['wpcf-row-1-col-2-html-box']
          .col-md-4.sameheight
            !=result['wpcf-row-1-col-3-html-box']
