extends layout
block content
  .container
    article.pagepaddingtop#container(itemscope, itemtype='http://schema.org/'+itemtype)
      .row
        .col-sm-9
          header
            h1.entry-title(itemprop='name')!=result.post_title
          .rientro
            div(itemprop='description')!=result.post_content
            .text-muted
              .dates
                //.date=result.data_evento
                meta(itemprop="dateModified", content=result.dateModified)
            include ../_partials/inc_share
        .col-sm-3
          .embed-responsive.embed-responsive-16by9  
            iframe.embed-responsive-item(id="fitvid87733" height="150" src="//www.youtube.com/embed/SpdoNFXTLts?rel=0" width="300")
          //img.img-fluid.main-image(src=result.featured.thumbnail, alt!=result.post_title, itemprop='image')
    include ../_partials/inc_grid
