ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://avnode.net/electrokids/', title='ElectroKids on AVnode')
      i.icon-avnode
      .sr-only AVnode
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flxer_av/', title='ElectroKids on Instagram')
      i.icon-instagram
      .sr-only Instagram
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.tiktok.com/@flxer_av', title='ElectroKids on Tik Tok')
      i.icon-tiktok
      .sr-only Tik Tok
