script(async src='https://www.googletagmanager.com/gtag/js?id='+config.meta.google_analytics)
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '#{config.meta.google_analytics}', { 
    'client_storage': 'none', // ⛔ Non usa cookie
    'anonymize_ip': true      // ✅ Anonimizza gli IP
  });
