.dateplace
  if result.avnode.schedule[0].starttime || result.avnode.schedule[result.avnode.schedule.length-1].endtime || result.avnode.boxDateFull
    .dates
      include eventdate
  if result.avnode.boxVenue
    .places
      include place
