if result.avnode.schedule
    span.sr-only
        if result.avnode.schedule[0].starttime
            span(itemprop='startDate', content=result.avnode.schedule[0].starttime)=result.avnode.schedule[0].starttime
            !=" | "
        if result.avnode.schedule[result.avnode.schedule.length-1].endtime
            span(itemprop='endDate', content=result.avnode.schedule[result.avnode.schedule.length-1].endtime)=result.avnode.schedule[result.avnode.schedule.length-1].endtime
if result.avnode.boxDateFull
    .date
        i.icon-calendar-check-o
        !=" "+result.avnode.boxDateFull