ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href='/linux-club-italia/', class=page_data.url.indexOf('/linux-club-italia') >= 0 ? "active" : undefined) Linux Club Italia
  li.nav-item
    a.nav-link(href='/newsletter/', class=page_data.url.indexOf('/newsletter') >= 0 ? "active" : undefined) Newsletter
  li.nav-item
    a.nav-link(href='/join/', class=page_data.url.indexOf('/join') >= 0 ? "active" : undefined) Diventa membro
  li.nav-item
    a.nav-link(href='/contacts/', class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined) Contatti
