@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
body,h1,h2,h3,h4,h5,h6{font-family: 'Sora', sans-serif}
body {
  padding-top: 90px;
}
.circle-border {
  font-size: 40px;
  border: 1px solid #ec1b45;
  padding: 8px 6px;
  border-radius: 50%;
  display: inline-block;
  height: 72px;
  width: 72px;
  text-align: center;
}
footer a:hover {
    color: #ec1b45;
}
.home-video-title {
    border-bottom: 1px solid #000;
}
.navbar-brand>img {
    height: 41px;
}
footer .media-object {
    height: 50px;
    margin-bottom: 20px;
    display: block;
}
.post_title {
  margin: 1.5rem 0;
}
.post_title h1{
  font-weight: bold !important;
}
/* .header {
    padding: 20px 0 50px 0;
}
.main-image {
    margin-bottom: 30px;
}
.svg-image {
    background-color: #fafafa;
}
.entry-title {
    margin-top: 0;
}
.box-list i {
    display: none;
}
body {
    padding-top: 51px;
}
.entry-title.boxItem {
    font-size: 24px;
}
.home-col-1, .home-col-2, .home-col-3 {
    padding: 20px;
    height: 100%}
.home-col-1 {
    background-color: #fff;
    margin: 0 -15px 0 -15px;
}
.home-col-2 {
    background-color: #f7f7f7;
    margin: 0 -15px 0 -15px;
}
h3.list_title {
    font-size: 20px;
}
.home-col-3 {
    background-color: #eaeaea;
    margin: 0 0 0 -15px;
}
#container {
    padding-top: 20px;
}
ul.lists {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.lists .itemListElement {
    position: relative;
    margin-bottom: 20px;
}
ul.lists .itemListElement .caption {
    position: absolute;
    pointer-events: none;
    color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
ul.lists .itemListElement .caption .caption-body {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-shadow: 0 2px 4px #000;
}
ul.lists .itemListElement .caption .caption-body .caption-title {
    font-size: 21px;
    margin-top: 0;
}
.Event .supText {
    font-size: 11px;
}
.Event .text-muted {
    color: #ccc;
}
.Event .list_title {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
.Event:hover .box-list {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.Event .box-list {
    pointer-events: none;
    position: absolute;
    top: 0;
    background-color: #333;
    height: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    width: 100%;
    overflow: hidden;
    -webkit-transition: opacity .3s ease-out;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.Event {
    margin-bottom: 30px;
    position: relative;
}
.Event .box-list .text-center {
    padding: 30px;
}
.Event .read-more-box {
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #333;
    padding-bottom: 16px;
    font-size: 20px;
    color: #fff;
}
.News .box-list {
    padding: 10px 0;
}
.Activity .box-list {
    padding: 10px 0;
}
.home-col-1, .home-col-2, .home-col-3 {
    padding: 20px;
    height: 100%} */
.navbar-brand>img {
    height: 22px;
}
@media (min-width:768px) {
    body {
        padding-top: 90px;
    }
    .home-title {
        font-size: 36px;
    }
    .navbar-nav>li>a {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .home-col-1 {
        background-color: #fff;
        margin: 0 -15px 0 0;
    }
    .home-col-2 {
        background-color: #f7f7f7;
        margin: 0 0 0 -15px;
    }
    .navbar-brand>img {
        height: 41px;
    }
}
@media (min-width:1200px) {
    .home-col-2 {
        background-color: #f7f7f7;
        margin: 0 -15px 0 -15px;
    }
}

  // FOOTER
  footer .projects i {
    font-size: 2rem;
    line-height: 0;
  }
  .logofooter {
    font-size: 68px;
    margin: -36px 0 -8px -24px;
  }
.subfooter .madeby a i {
  margin-top: -24px;
}
  
  // NAVBAR TOP
  
  #navbar-top.bg-dark {
    background-color: #000 !important;
  }
  #navbar-top .navbar-brand img {
    width: 49px;
  }
  #menu-main .dropdown-toggle::after {
    margin-left: 0.5em;
  }
  #navbar-top .navbar-brand {
    margin: -20px 10px -20px 0;
  }
  @media (min-width: 768px) {
    #navbar-top .navbar-brand img {
      width: 75px;
      margin:0 10px;
    }
    #menu-main .form-inline {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    #navbar-top .nav-link {
      //padding: 1.5rem .6rem;
    }
  }
  // SWIPER
  
  .swiper-container, .swiper-container a {
    cursor: url("/_images/slider-cursor.svg") 30 30,default;
  }
  @media (max-width: 767px) {
    .swiper-slide {
      width:80%
    }
  }
  @media (min-width: 768px) {
    .event-card{text-align: right;}
    .swiper-slide {
      width:250px
    }
  }
  @media (min-width: 992px) {
    .swiper-slide {
      width:300px
    }
  }
  @media (min-width: 1200px) {
    .swiper-slide {
      width:392px
    }
  }
  @media (min-width: 1400px) {
    .swiper-slide {
      width:392px
    }
  }
  
  // LISTS
  
  ul.lists{
    padding:0;
    margin-bottom: 0;
    list-style: none;
  }
  .itemListElement {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 392px;
  }
  .caption a {
    color: #000;
  }
  .caption a:hover {
    opacity: 50%;
  }
  /* .caption {
    position: absolute;
    pointer-events: none;
    color: #FFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
  } */
  .caption-time {
    background: rgba(255, 255, 255, .5);
    color: #000;
    padding: 5px 10px;
    display: inline-block;
    font-size: 10px;
    line-height: 2;
  }
  /* .caption-body {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-shadow: 0 2px 4px black;
  } */
  .caption-type {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: -200px;
    top: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    width: 200px;
  }
  .caption-title {
    font-size: 21px;
    margin-top: 0;
  }
  .caption-location, .caption-location b {
    font-weight: normal;
  }
  .caption-location-block {
    font-size: 10px;
    display: block;
  }
  .caption-type-cnt {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    color: #000;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .caption-soldout {
    position: absolute;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -82px;
    top: -19px;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 200px;
    text-align: center;
    background-color: #FF0000;
    font-weight: bold;
    z-index: 1;
    font-size: 20px;
  }
  .partner .media-heading {
    font-size: 15px;
    margin-top: 22px;
  }
  .partner .stit {
    font-size: 11px;
  }
  .partner img {
    border-radius: 50%;
  }
  .Person .thumb-cnt img {
    border-radius: 50%;
    max-width: 100px;
  }
  .Person .thumb-cnt {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  // BOXES
  
  .boxItem {
    position: relative;
    margin-bottom: 30px;
  }
  a:hover img {
    opacity: .6;
  }
  .boxItem a:hover{
    text-decoration: none;
  }
  .box-list {
    padding: 15px;
  }
  
  /* BOX NEWS */
  .News .box-list{
    padding: 10px;
  }
  
  /* BOX EVENT */
  .Event .supText{
    font-size: 11px;
  }
  .Event .list_title{
    margin-top: 10px;
    font-size: 20px;
    color: #FFF;
  }
  .Event:hover .box-list{
    opacity: 1;
  }
  .Event .box-list{
    padding: 0;
    pointer-events: none;
    position: absolute;
    top:0;
    background-color: #333;
    height: 100%;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  .Event .box-list .text-center{
    padding: 30px;
  }
  
  .Event .read-more-box{
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #333;
    padding-bottom: 16px;
    font-size: 20px;
    color: #FFF;
  }