@import url(https://fonts.googleapis.com/css?family=Mukta:400,700);
body,h1,h2,h3,h4,h5,h6,h7{font-family:'Mukta',sans-serif}

body{color:#FFFFFF;background-color:#000000;background-size: cover;}
.btn-primary{color:#000000;background-color:$primary;}
.btn-primary:hover{color:$primary;opacity: .7;}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle{
  color: #00FFFF;
  background: none;
  background-color: none;
  border-color:none;
}
.btn-primary.disabled, .btn-primary:disabled {
  color: #a6aaad !important;
}
.dropdown-item a {
  color: #00FFFF;
}
.breadcrumb > li,.breadcrumb > li.active{color:#777}

.date-cnt img{height: 110px}


.logofooter{margin:-20px 0 -20px -18px}

.pulsa{margin-top:40px}

#container .row{margin-bottom:20px}

.btn-group>.btn {
  background-color: #000000;
  border-radius: 0;
  border: 4px solid $primary;
  margin-left: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.btn-group>.btn:hover {
  border: 4px solid #DDFF3A;
  color: #DDFF3A;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn {
  padding-right: 14px !important;
}
.btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child) {
  margin-left: -2px;
  border-left: 0;
}