ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://avnode.net/liveperformersmeeting/', title='LPM on AVnode')
      i.icon-avnode
      .sr-only AVnode
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/LPM.livePerformersMeeting/', title='LPM on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/groups/liveperformersmeeting/', title='LPM Group on Facebook')
      i.icon-facebook-squared(style="position: relative;")
        sup(style="top: 12px;display: block;left: 10px;color: #222222;position: absolute;font-size:9px;font-style: normal;") G
      .sr-only Facebook Group
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.instagram.com/liveperformersmeeting/', title='LPM on Instagram')
      i.icon-instagram
        .sr-only Instagram
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://twitter.com/liveperformers', title='LPM on Twitter')
      i.icon-twitter
      .sr-only Twitter
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://vimeo.com/lpm', title='LPM on Vimeo')
      i.icon-vimeo-squared
      .sr-only Vimeo
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.youtube.com/LPMvideoreport', title='LPM on YouTube')
      i.icon-youtube-squared
      .sr-only You Tube
