footer.navbar-inverse
  .container
    .row.links-horizontal
      .col-sm-4
        include address
      .col-sm-4.d-print-none
        p Corporate
        include menu-corporate
      .col-sm-4.d-print-none
        p=global.__("Social Networks")
        include socials
      .col-sm-5.d-print-none
        //p=global.__("Projects")
        //include ../../_common/inc_projects
    br
    include ../../_common/inc_copy-and-flyer
