ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href='/manifesto/', class=page_data.url.indexOf('/manifesto') >= 0 ? "active" : undefined)=global.__("Manifesto")
  li.nav-item
    a.nav-link(href='/join/', class=page_data.url.indexOf('/join') >= 0 ? "active" : undefined)=global.__("Join")
  li.nav-item
    a.nav-link(href='/contacts/', class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined)=global.__("Contacts")
