.text-muted
  .dates
    .dateheadline(itemprop="headline")
      i.icon-calendar-check-o
      !=" "
      !=result.creation_dateFormatted+" "
    if (result.post_name=="lab")
      meta(itemprop="foundingDate", content=result.datePublished)
    else
      meta(itemprop="datePublished", content=result.createdAt)
      //if (result.post_name=="news")
      meta(itemprop="dateModified", content=result.updatedAt)