article(itemscope, itemtype='http://schema.org/'+itemtype)
  .row
    .col-md-9
      .main-cnt
        header.post_title.mb-4
          h1(itemprop="name")!=page_data.title
        .rientro
          div(itemprop='description')!=result.post_content
          if (form == "contacts")
            include ../_partials/inc_form_contacts
          if (form == "newsletter")
            include ../_partials/inc_form_newsletter
          if (form == "join")
            include ../_partials/inc_form_join
          include ../_partials/inc_docs_large
          .dateModified.d-none(itemprop='dateModified', content=result.date)=result.dateModifiedHR
    .col-md-3
      .main-image
        if result.featured.thumbnail
          img.img-fluid(src=result.featured.thumbnail.replace("https://flyer.dev.flyer.it", config.domain), alt!=page_data.title, itemprop='image')
    include ../_partials/inc_grid
        

