//article(itemscope, itemtype='http://schema.org/'+itemtype)
article#container(itemprop="owns", itemscope, itemtype='http://schema.org/ItemList')
  header.post_title.mb-4
    h1(itemprop="name")=page_data.title
  .post_content!=result.post_content
