footer.bg-dark.text-white.pt-3.pr-3.pb-3.pl-3.mb-5.mt-3
  .row.links-horizontal
    .col-sm-4
      include ../../_partials/components/address-chromosphere
    .col-sm-2.d-print-none
      p.mt-3.mt-md-0=global.__("Corporate")
      include menu-corporate
    .col-sm-2.d-print-none
      p.mt-3.mt-md-0=global.__("Social Networks")
      include socials
    .col-sm-4.d-print-none
      p.mt-3.mt-md-0=global.__("Other Partners Projects")
      include ../../_partials/components/projects-chromosphere
  br
  include ../../_partials/components/copy-and-flyer
