footer.bg-dark.text-white.pt-3.pr-3.pb-3.pl-3.mb-5.mt-3
  .row.links-horizontal
    .col-sm-4
      include ../../_partials/components/address-chromosphere
    .col-sm-2.d-print-none
      //-p.mt-3.mt-md-0=global.__("Corporate")
       include menu-corporate
    .col-sm-3.d-print-none
      p.mt-3.mt-md-0=global.__("Social Networks")
      include socials
    .col-sm-3.d-print-none
      //-img(src="https://flyer.dev.flyer.it/files/2024/10/EN_Co-fundedbytheEU_RGB_WHITE.png")
      img(src="https://flyer.dev.flyer.it/files/2025/05/EN_Co-fundedbytheEU_RGB_POS.png")
      p.mt-3
        small.small.d-print-none
          .small
            .small
              | This project has been co-funded by the European Union.
              | The European Union is not liable for any use that may be made of the information contained therein. 
  br
  include ../../_partials/components/copy-and-flyer
Chromosphere is a Digital Circus travelling Around Europe. The idea is to use an incredible structure to make 360 Projections, a dome or a planetarium, to present a 12 hours daily program, starting in the morning with contents for school progressing with an Audio Visual program at night.

Chromosphere, as a real circus is travelling making 4 stops of minimum 4 days in 4 of the 6 partner countries, in detail:

1. May | Greece | Multitrab Productions
2. August | Hungary | Méliusz Juhász Péter Könyvtár
3. September | Italy | Fusolab
4. October | Poland | Fundacja Photon

The 5th partner, Green Leisure (Netherlands), is a “Green umbrella” of the project, in charge of all the workshops and symposiums on the Green Deal.

The 6th partner, Carbon Residence (Ukraine), is a curator of the special section of the screenings done by Ukranian female artists and collectives.

The program is built in the first part of the project by all the partners, leaving conferences to every single partner that will be recorded as a podcast format

To guarantee optimal outreach for this action, the minimum duration of every event is 4 days and the program, has to follow the following strict rules, containing at least:

Per Day:
- 5 360° Audio Visual learning contents for kids, 3 of them done by female artists collectives
- 8 360° Audio Visual Show, 4 of them done by female artists collectives (2 European and 2 Ukrainian)
- 4 360° AI Audio Visual Show, 2 of them done by female artists collectives (1 European and 1 Ukrainian)
- 2 360° Audio Visual Performances, 1 of them done by female artists collectives

Per Event
- 1 Workshop on New Media Technologies for professionals
- 1 Workshop on New Media Technologies for kids
- 1 Symposium on Green Deal
- 1 Workshop on Green Deal
- 1 public partners meeting
- 1 private partners meeting

The daily activity involves at least 25 av collectives (approx. 75 people), 21 teachers and experts and 12 people from partners having at least 108 people involved in every event.

The strict rules on gender balance guarantee a majority of female artists as response to the fact that more than 70% of AV Artists are men and there is a visible underrepresentation of female artists on the scene.

We foresee a long term impact of this project as its representation of minorities on scene, can build self-confidence in individuals and inspire them to join the field.
