ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://avnode.net/chromosphere/', title='Chromosphere on AVnode')
      i.icon-avnode
      .sr-only AVnode
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/chromosphere.eu/', title='Chromosphere on Facebook')
      i.icon-facebook-squared
      .sr-only Facebook
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flxer_av/', title='Chromosphere on Instagram')
      i.icon-instagram
      .sr-only Instagram
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://twitter.com/flxer', title='Chromosphere on Twitter')
      i.icon-twitter
      .sr-only Twitter
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.tiktok.com/@flxer_av', title='Chromosphere on Tik Tok')
      i.icon-tiktok
      .sr-only Tik Tok
