extends layout
block content
  include ../_partials/carousel
      
  section.home.mt-3(itemscope, itemtype='http://schema.org/ItemList')
    h1.entry-title(itemprop="name") Latest Cultural Productions
    .swiper-container
      !=results.productions.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/cultural-productions/", title="See all Cultural Productions") See all Cultural Productions
        
  //section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Satellite Events
    .swiper-container
      !=results.events.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/partnerships/", title="See all Events") See all Events

  //section.home(itemscope, itemtype='http://schema.org/ItemList')
    .container-fluid
      h1.entry-title(itemprop="name") Productions
    .swiper-container
      !=results.editions.replace(new RegExp("col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 isotopeitem", 'g'), "swiper-slide").replace(new RegExp("row isotope results", 'g'), "swiper-wrapper").replace(new RegExp("pagination pagination-sm justify-content-center", 'g'), "pagination pagination-sm justify-content-center d-none")
    .container-fluid
      .text-right.boxItem
        a.btn.btn-primary.btn-sm(href="/events/", title="See all Editions") See all Productions
