  a:hover {
    opacity: .6;
  }
  
  // FOOTER
  
  .logofooter {
    font-size: 165px;
    margin: -104px 0 -95px -35px;
  }
  
  // NAVBAR TOP
  
  #navbar-top .navbar-brand img {
    width: 49px;
  }
  #menu-main .dropdown-toggle::after {
    margin-left: 0.5em;
  }
  #navbar-top .navbar-brand {
    font-size: 75px;
    margin: -43px 10px -40px 0;
  }
  @media (min-width: 768px) {
    #navbar-top .navbar-brand img {
      width: 75px;
      margin:0 10px;
    }
    #menu-main .form-inline {
      padding-right: .5rem;
      padding-left: .5rem;
    }
    #navbar-top .nav-link {
      //padding: 1.5rem .6rem;
    }
  }
  // SWIPER
  
  .swiper-container, .swiper-container a {
    cursor: url("/_images/slider-cursor.svg") 30 30,default;
  }
  @media (max-width: 767px) {
    .swiper-slide {
      width:80%
    }
  }
  @media (min-width: 768px) {
    .event-card{text-align: right;}
    .swiper-slide {
      width:250px
    }
  }
  @media (min-width: 992px) {
    .swiper-slide {
      width:300px
    }
  }
  @media (min-width: 1200px) {
    .swiper-slide {
      width:392px
    }
  }
  @media (min-width: 1400px) {
    .swiper-slide {
      width:392px
    }
  }
  
  // LISTS
  
  ul.lists{
    padding:0;
    margin-bottom: 0;
    list-style: none;
  }
  .itemListElement {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 392px;
  }
  .caption {
    position: absolute;
    pointer-events: none;
    color: #FFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
  }
  .caption-time {
    background: rgba(255, 255, 255, .5);
    color: #000;
    padding: 5px 10px;
    display: inline-block;
    font-size: 10px;
    line-height: 2;
  }
  .caption-body {
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-shadow: 0 2px 4px black;
  }
  .caption-type {
    position: absolute;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    right: -200px;
    top: 0;
    transform: rotate(90deg);
    transform-origin: top left;
    width: 200px;
  }
  .caption-title {
    font-size: 21px;
    margin-top: 0;
  }
  .caption-location, .caption-location b {
    font-weight: normal;
  }
  .caption-location-block {
    font-size: 10px;
    display: block;
  }
  .caption-type-cnt {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .5);
    color: #000;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
  }
  .caption-soldout {
    position: absolute;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -82px;
    top: -19px;
    transform: rotate(45deg);
    transform-origin: top left;
    width: 200px;
    text-align: center;
    background-color: #FF0000;
    font-weight: bold;
    z-index: 1;
    font-size: 20px;
  }
  .partner .media-heading {
    font-size: 15px;
    margin-top: 22px;
  }
  .partner .stit {
    font-size: 11px;
  }
  .partner img {
    border-radius: 50%;
  }
  
  // BOXES
  
  .boxItem {
    position: relative;
    margin-bottom: 30px;
  }
  a:hover img {
    opacity: .6;
  }
  .boxItem a:hover{
    text-decoration: none;
  }
  .box-list {
    padding: 15px;
  }
  
  /* BOX NEWS */
  .News .box-list{
    padding: 10px;
  }
  
  /* BOX EVENT */
  .Event .supText{
    font-size: 11px;
  }
  .Event .list_title{
    margin-top: 10px;
    font-size: 20px;
    color: #FFF;
  }
  .Event:hover .box-list{
    opacity: 1;
  }
  .Event .box-list{
    padding: 0;
    pointer-events: none;
    position: absolute;
    top:0;
    background-color: #333;
    height: 100%;
    opacity: 0;
    width: 100%;
    overflow: hidden;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
  }
  .Event .box-list .text-center{
    padding: 30px;
  }
  
  .Event .read-more-box{
    bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #333;
    padding-bottom: 16px;
    font-size: 20px;
    color: #FFF;
  }

  #vjtv {
    font-family: "Montserrat", sans-serif;
    background-color: #212121;
    color: #fff;
    line-height: 1.8;
    font-weight: 200;
    font-size: 15px;
  } 
  .playlist{
    position: relative;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  .playlist .list-unstyled{
    position: relative;
  }
  
  .playlist-item{
    position: relative;
    margin-top: 2px;
  }
  .playlist-item .media:hover{
    opacity: .6;
  }
  .playlist-header{
    background-color: #000;
  }
  .playlist-item h5 {
    font-size: 1rem;
  }
  .playlist-item .more {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .playlist-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    opacity: .85;
    text-align: left;
    border: 6px solid rgba(43,51,63,.7);
    box-sizing: border-box;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    animation: 0s linear .3s forwards vjs-spinner-show;
  }
  .playlist-loading .vjs-loading-spinner {
    display: block;
    animation: 0s linear .3s forwards vjs-spinner-show;
  }
  
  /*! @name videojs-logo @version 2.0.0 @license MIT */
  .video-js.vjs-logo{display:block}
  .video-js.vjs-logo .vjs-logo-content{position:absolute;opacity:1;transition:visibility 2s,opacity 2s}
  //.video-js.vjs-logo .vjs-logo-content.vjs-logo-hide{visibility:hidden;opacity:0}
  .ui-datepicker td.highlight a{
    background-color: $primary;
  }
  #headervjtv {
    height: 53px;
    margin-bottom: 5px;
  }
  .vjs-logo-content img{
    -webkit-filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 1));
    filter: drop-shadow( 0 0 2px rgba(255, 255, 255, 1));
  }