ul.nav.flex-column.nav-pills
  li.nav-item
    a.nav-link(href='/project/', class=page_data.url.indexOf('/project') >= 0 ? "active" : undefined) Project
  li.nav-item
    a.nav-link(href='/exhibitions/', class=page_data.url.indexOf('/exhibitions') >= 0 ? "active" : undefined) Exhibitions
  li.nav-item
    a.nav-link(href='/partnerships/', class=page_data.url.indexOf('/partnerships') >= 0 ? "active" : undefined) Satellite Events
  li.nav-item
    a.nav-link(href='/contacts/', class=page_data.url.indexOf('/contacts') >= 0 ? "active" : undefined) Contacts