//each result, position in body.events
  div=result.slug
.row.isotope.results
  each result, position in body.events
    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-12.isotopeitem
      include ../boxes/box_event
include ../components/pagination