ul.lists.row
  each performance in body.performances
    - var basepath = '/performances/'
    - var css = "col-md-4"
    if (opts.params && performance.type.slug==opts.params) || !opts.params
      include ../boxes/box_performance

