if opts.params && body
  each day in body
    if opts.days.indexOf(day.day)!=-1
      ul.lists.row(itemscope itemtype="http://schema.org/ItemList")
        each room in day.rooms
          if !opts.rooms || (opts.rooms && opts.rooms.indexOf(room.room)!=-1)
            - var pp = room.performances.reverse();
            each performance in pp
              if opts.params.indexOf(performance.performance.type.name)!=-1
                - performance.performance.schedule = performance.schedule
                - var performance = performance.performance
                - var basepath = (config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+req_params.edition+'/program/detail/'
                - var css = "col-md-6"
                include ../boxes/box_performance2col
