- var basepath = req_params.page ? "" : (config.prefix=="shockart" ? "/exhibitions/" : "/editions/")+req_params.edition
.pt-4
  if body.videos && body.videos.length
    ul#listItems.row
      each item, i in body.videos
        include ../boxes/box_video


  if body.media && body.media.file
    .row.mb-3
      .col-md-9
        .embed-responsive.embed-responsive-16by9
          video.embed-responsive-item#my-video.video-js(controls='', preload='auto', width='640', height='264', poster=body.imageFormats.large, data-setup='{aspectRatio:"16:9", fluid: true}')
            source(src="https://avnode.net"+body.media.file, type='video/mp4')
            p.vjs-no-js
              !=global.__("To view this video please enable JavaScript, and consider upgrading to a web browser that")
              a(href='http://videojs.com/html5-video-support/', target='_blank')=!global.__("supports HTML5 video")
      .col-md-3
        .rientro
          h1=body.media.title
          p=global.__("Views")+": "+body.media.stats.visits
          p=global.__("Likes")+": "+body.media.stats.likes
