ul#project.navbar-nav.navbar-nav-flxer.ml-1
  li.nav-item(class=page_data.url.indexOf('/project') == 0 ? "active" : undefined)
    a.nav-link(href='/project/') 
      span.backText Project
  li.nav-item(class=page_data.url.indexOf('/software') == 0 ? "active" : undefined)
    a.nav-link(href='/software/') 
      span.backText Software
  li.nav-item(class=page_data.url.indexOf('/contacts') == 0 ? "active" : undefined)
    a.nav-link(href='/contacts/') 
      span.backText Contacts
