ul.list-inline.h1.socials
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://avnode.net/flxer/', title='FLxER on AVnode')
      i.icon-avnode
      .sr-only AVnode
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://www.facebook.com/flxer/', title='FLxER on Facebook')
      i.icon-facebook-official
      .sr-only Facebook
  li.list-inline-item
    a.tooltips(data-toggle="tooltip", data-placement="bottom", target='_blank', href='https://twitter.com/flxer', title='FLxER on Twitter')
      i.icon-twitter
      .sr-only Twitter
