@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body,h1,h2,h3,h4,h5,h6,h7 {font-family: 'Montserrat', sans-serif;}
body {
    color: #000;
    background-color: #00ff00;
}
footer.navbar-inverse {
    background-color: #000000;
    border-color: #000000;
}
.pulsa .active a, .pulsa a:hover {
	color: #00ff00
}
#logo {
	margin-bottom: 20px;
}
.modal-fullscreen .modal-content {
	color: #ababab;
}

.modal-fullscreen .modal-content a {
	text-decoration: underline;
	font-weight: bold;
	color: #FFF;
}
.modal-fullscreen .modal-content a:hover {
	text-decoration: underline;
}
.menu-full {
	background: #0a0a0a; /* Old browsers */
	background: -moz-linear-gradient(45deg, #0a0a0a 70%, #00ffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #0a0a0a 70%,#00ffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #0a0a0a 70%,#00ffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.navbar-lang {
	border-top: 2px solid #00ffff ;
	border-bottom: 2px solid #00ffff ;
}
@media (min-width: 768px){

	#logo {
		margin-bottom: 0;
	}
}